@font-face {
  font-family: "Poppins-Regular";
  src: url("../font/Poppins-Regular.ttf");
}

html {
  height: 100%;
}
body {
  min-height: 100vh;
  font-family: "Poppins-Regular";
}

img.img-login {
  width: 100%;
  height: 720px;
  display: block;
}

img.img-corousel {
  height: 800px;
}

@media screen and (min-width: 1000px) {
  img.img-login {
    width: 100%;
    height: 930px;
    display: block;
  }
}
/* html {
    height: 100vh;
  }
  
  body {
    min-height: 100vh;
  } */
